.contact-us-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('/assets/images/layout-cards/upscalemedia-transformed.jpeg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    box-sizing: border-box;
  }
  
  .contact-us-card {
    padding: 30px;
    border-radius: 15px;
    border: wheat 1px solid;
    text-align: center;
    max-width: 600px;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .contact-us-title {
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: white;
  }
  
  .contact-us-description {
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .contact-us-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-left: 150px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    width: 100%;
    max-width: 400px;
  }
  
  .contact-item a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }
  
    .contact-item:hover {
    color: rgba(255, 255, 255, 0.7);
    transform: translateY(-4px); /* Add float effect */
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition */
    }
  
  .contact-icon {
    font-size: 28px;
    color: white;
  }
  
  .contact-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .resume-button {
    padding: 7px 14px;
    background: none;
    color: #fff;
    border: #fff 1px solid;
    border-radius: 12px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.2s ease; /* Add transition */
  }
  
  .resume-button:hover {
    box-shadow: 0 0 20px rgba(107, 87, 245, 0.8), 0 0 30px rgba(5, 56, 255, 0.6);
    transform: scale(1.05);
  }
  
  .email-button {
    padding: 7px 14px;
    background-color: #fff;
    color: #282828;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.3s ease, transform 0.2s ease; /* Add transition */
  }
  
  .email-button:hover {
    box-shadow: 0 0 20px rgba(107, 87, 245, 0.8), 0 0 30px rgba(5, 56, 255, 0.6);
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .contact-us-card {
      padding: 30px;
    }

    .contact-us-information {
      margin-left: 115px;
      display: flex;
    }
  
    .contact-us-title {
      font-size: 2rem;
    }
  
    .contact-us-description {
      font-size: 0.9rem;
    }
  
    .contact-item {
      font-size: 1rem;
      display: flex;
    }
  
    .resume-button,
    .email-button {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  }

  @media (max-width: 480px) {
    .contact-us-information {
        margin-left: 0;
    }

    .contact-item {
        margin-left: 60px;
    }



  }

@media screen and (max-width: 370px) {
    .contact-us-card {
        padding: 20px;
    }

    .contact-us-title {
        font-size: 1.5rem;
    }

    .contact-us-description {
        font-size: 0.8rem;
    }

    .contact-item {
        margin-left: 25px;
    }

    .resume-button,
    .email-button {
        padding: 10px 20px;
        font-size: 0.8rem;
    }

}