/* Fullscreen Welcome Section */
.welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/11027.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Source Sans 3", sans-serif;
  position: relative; /* Changed from 'fixed' to 'relative' */
}

/* Wrapper for content */
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Glassmorphism Welcome Card */
.welcome-card {
  display: flex;
  width: 520px;
  padding: 25px 44px 35px 44px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(19px);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 2px solid #EAC4B8;
  color: white;
  text-align: center;
}

/* Premium Badge */
.premium-badge {
  font-size: 34px;
  font-weight: bold;
  align-self: flex-end;
  margin-bottom: 20px;
}

/* Intro Text */
.intro-text {
  font-size: 18px;
  color: #F5F5F5;
  margin-bottom: 2px;
}

/* Name */
.name {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Role */
.roles {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 25px;
}

/* Buttons Container */
.buttons-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}


@media (max-width: 768px) {
  .welcome-card {
    width: 100%;
    padding: 20px;
    align-items: flex-start; /* Maintain left alignment */
  }

  .premium-badge {
    font-size: 6vw; /* Scale font size based on viewport width */
    align-self: flex-end; /* Maintain right alignment */
    margin-bottom: 15px;
  }

  .intro-text {
    font-size: 4vw; /* Scale font size based on viewport width */
  }

  .name {
    font-size: 5vw; /* Scale font size based on viewport width */
    margin-bottom: 10px;
  }

  .roles {
    font-size: 3.5vw; /* Scale font size based on viewport width */
    margin-top: 15px;
  }

  .buttons-container {
    flex-direction: column;
    gap: 10px;
  }
}